In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
from time import sleep

from selenium import webdriver

url = 'https://www.buyrentkenya.com/flats-apartments-for-sale/nairobi'

In [2]:
driver = webdriver.Chrome()

In [3]:
driver.get(url)

In [4]:
soup = BeautifulSoup(driver.page_source)

In [5]:
# # get prices
# for i in soup.find_all('a', {'class': 'item-price'})[:10]:
#     print(int(i.text.split()[1].replace(',','')))

# # get bedrooms
# for i in soup.find_all('span', {'class': 'h-beds'})[:10]:
#     print(i.text)

# # get location
# for i in soup.find_all('div', {'class': 'property-location'})[:10]:
#     print(i.text)

# # get listing type
# for i in soup.find_all('i', {'class': 'fa fa-heart listing-favourite'})[:10]:
#     print(i.attrs['data-t-listing_type'])

# # get listing category
# for i in soup.find_all('i', {'class': 'fa fa-heart listing-favourite'})[:10]:
#     print(i.attrs['data-t-listing_category'])

In [6]:
# sleep(5)
# for row in soup.find_all('div', {'class': 'result-card-item mt-2 mb-3'}):
#         loc = row.find('div', {'class': 'property-location'}).text.split(',')
#         # Adapted from Matt's code to separate into district, neighborhood, and street
#         print(loc[-1].strip())
#         try:
#             print(loc[-2].strip())
#         except:
#             print(None)
#         try:
#             print(loc[-3].strip())
#         except:
#             print(None)
#         beds = row.find('span', {'class': 'h-beds'}).text.strip()
#         list_type = row.find('i', {'class': 'fa fa-heart listing-favourite'}).attrs['data-t-listing_type']
#         category = row.find('i', {'class': 'fa fa-heart listing-favourite'}).attrs['data-t-listing_category']
#         price = row.find('a', {'class': 'item-price'}).text.split()[1].replace(',','')
#         print(beds)
#         print(list_type)
#         print(category)
#         print(price)
#         print()

In [7]:
# <div class="result-card-item mt-2 mb-3 " id="3432035" data-mandatetype="2">

def house_grabber(soup, df):
    for row in soup.find_all('div', {'class': 'result-card-item mt-2 mb-3'}):
        loc = row.find('div', {'class': 'property-location'}).text.split(',')
        
        # Adapted from Matt's code to separate into district, neighborhood, and street
        district = loc[-1].strip()
        try:
            neighborhood = loc[-2].strip()
        except:
            neighborhood = 'None'
        try:
            street = loc[-3].strip()
        except:
            street = 'None'
        
        beds = row.find('span', {'class': 'h-beds'}).text
        list_type = row.find('i', {'class': 'fa fa-heart listing-favourite'}).attrs['data-t-listing_type']
        category = row.find('i', {'class': 'fa fa-heart listing-favourite'}).attrs['data-t-listing_category']
        price = row.find('a', {'class': 'item-price'}).text.split()[1].replace(',','')
        
        df.loc[len(df)] = [district, neighborhood, street, beds, category, list_type, price]

In [8]:
df_nairobi = pd.DataFrame(columns=['district', 'neighborhood', 'street', 'bedrooms', 'category', 'listing_type', 'price_KES'])

for i in range(3): 
    sleep(5)
    soup_object = BeautifulSoup(driver.page_source, 'lxml')
    house_grabber(soup_object, df_nairobi)
    next_button = driver.find_element_by_link_text('Next')
    next_button.click()
    print('next page...')

driver.close()
df_nairobi.head()

next page...
next page...
next page...
next page...
next page...
next page...
next page...
next page...
next page...
next page...

,district,neighborhood,street,bedrooms,category,listing_type,price_KES
0,Westlands,Kitisuru,Kibichiku,1,Flat & Apartment,For Sale,2300000
1,Dagoretti North,Naivasha Road,None,1,Studio,For Sale,2000000
2,Dagoretti North,Kilimani,Elgeyo Marakwet,3,Flat & Apartment,For Sale,19800000
3,Dagoretti North,Kileleshwa,Laikipia Road,3,Flat & Apartment,For Sale,12500000
4,Dagoretti North,Kileleshwa,Othaya Road Kileleshwa,4,Flat & Apartment,For Sale,20500000

In [9]:
df_nairobi.shape

(200, 7)